{{#each services }}
    <li>
        <div class="name"><a href="#/service/{{ this.id }}">{{ this.name }}</a></div>
        <div class="area">
            <span class="control-label" data-i18n="Service-Map.List.Area"></span>
            {{ this.servicearea.name }}
        </div>
        <div class="hours control-label">
            <span class="control-label" data-i18n="Service-Map.List.Todays-Hours"></span>
            {{#if this.today_open}}
                {{ this.today_open }} - {{ this.today_close }}
            {{else}}
                <span class="control-label" data-i18n="Service-Map.List.Unknown"></span>
            {{/if}}
        </div>
        <div class="contact">
            <div class="row">
                <div class="half">
                    <span class="control-label" data-i18n="Service-Map.List.Phone"></span>
                    {{#if this.provider.phone_number }}
                        {{ this.provider.phone_number }}
                    {{else}}
                        <span class="control-label" data-i18n="Service-Map.List.Unknown"></span>
                    {{/if}}
                </div>
                <div class="half">
                    <span class="control-label" data-i18n="Service-Map.List.Website"></span>
                    {{#if this.provider.website }}
                        {{ this.provider.website }}
                    {{else}}
                        <span class="control-label" data-i18n="Service-Map.List.Unknown"></span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="description">
            <div class="row">
                <p>{{ this.description }}</p>
            </div>
        </div>
    </li>
{{/each}}
