{{#each services }}
    <li>
        <div class="name"><a href="#/service/{{ this.id }}">{{ this.name }}</a></div>
        <div class="area control-label">{{ this.servicearea.name }}</div>
        <div class="hours control-label">{{ this.today_open }} - {{ this.today_close }}</div>
        <div class="contact">
            <div class="row">
                <div class="half">
                    <span class="control-label" data-i18n="Service-Map.List.Phone"></span>
                </div>
                <div class="half">
                    <span class="control-label" data-i18n="Service-Map.List.Website"></span>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="row">
                <p>Description goes here. Limit the length of the description text to 100 characters for the list view of services...</p>
            </div>
        </div>
    </li>
{{/each}}
