<div id="services">
<!-- Page Head -->
    <div class="page-head">
        <div class="container">
        	<div class="row">
                <div class="page-title" data-i18n="Service-List.Page-Head.Page-Title.Title"></div>
                {{#if no_services}}
                    <div class="page-descr" data-i18n="Service-List.Empty-Message"></div>
                {{else}}
                   <div class="page-descr" data-i18n="Service-List.Page-Head.Page-Description.Page-Description"></div>
                {{/if}}
	        </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- View Reports Section -->
    <div id=view-reports>
      <div class=row>
        <div class="third float-start">
            <a href="#/manage/service"><button class="primary-button" data-i18n="Service-List.Add-Service"></button></a>
        </div>
        <div class="third float-start menu-item-staff">
          <a href="#/reports"><button class="primary-button" data-i18n="Service-List.View-Reports" id="view_reports_button"></button></a>
        </div>
      </div>
    </div>
<!-- End View Reports Section -->

<!-- End Table Key -->
    <div class="key">
      <div class="container">
        <div class="row">
          <div class="half">
            <div class="third">
              <div class="control-label" data-i18n="Service-List.Status.current"></div>
              <div class="service-status-approved"></div>
            </div>
            <div class="third">
              <label class="control-label" data-i18n="Service-List.Status.rejected"></label>
              <div class="service-status-denied"></div>
            </div>
            <div class="third">
              <label class="control-label" data-i18n="Service-List.Status.draft"></label>
              <div class="service-status-draft"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- End Table Key -->

<!-- Main Content -->
{{#unless no_services}}
	<table id="service-status" class="table">
		<thead>
			<tr>
				<th data-i18n="Service-List.Table.Thead.Name"></th>
				<th data-i18n="Service-List.Table.Thead.Type"></th>
				<th data-i18n="Service-List.Table.Thead.Area"></th>
				<th data-i18n="Service-List.Table.Thead.Status"></th>
				<th data-i18n="Service-List.Table.Thead.Change"></th>
			</tr>
		</thead>
		<tbody>
            {{#each services}}
			<tr class="{{#if this.isApproved }}approved{{/if}}{{#if this.isRejected}}denied{{/if}}{{#if this.is_draft }}update{{/if}}{{#if this.parent }} has_parent{{/if}}">
				<td>

                  <div class="vertical-header" data-i18n="Service-List.Table.Thead.Status"></div><span class="vertical-td service-name">
                    {{#if this.is_current}}
                      <a href="#/service/{{ this.id }}">{{ this.name }}</a>
                    {{else}}
                      {{this.name}}
                    {{/if}}
                  </span>

				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Name"></div><span class="vertical-td">
                    {{# if this.servicetype.icon_url }}<img class="servicetype-icon" src="{{ this.servicetype.icon_url }}"/>{{/if}}
                    {{ this.servicetype.name }}
                    </span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Type"></div><span class="vertical-td">{{ this.servicearea.name }}</span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Area"></div><span class="vertical-td" data-i18n="Service-List.Status.{{ this.status }}">{{ this.status }}</span>
                </td>
				<td>
				    <div class="vertical-header" data-i18n="Service-List.Table.Thead.Change"></div>
                    <span class="vertical-td">
                     {{#if this.can_update }}<a href="#/manage/service/{{ this.id }}"
                         {{#if this.is_draft}}
                         data-i18n="Service-List.Change-Change"
                         {{else}}
                         data-i18n="Service-List.Change-Service"
                         {{/if}}
                         ></a>,
                     {{/if}}
                     <a href="#/manage/service/cancel/{{ this.id }}"><span
				      {{#if this.is_draft }}
      				     data-i18n="Service-Remove-Change.Remove-Change"
                      {{else}}
                        {{#if this.is_current }}
      				      data-i18n="Service-Delete.Delete-Service"
                        {{/if}}
                      {{/if}}
				     ></span></a></span>
				</td>
			</tr>
            {{/each}}
		</tbody>
	</table>
{{/unless}}
<!-- End Main Content -->
