<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Service-Form.Page-Head.Page-Title.Title"></div>
                    <div class="page-descr" data-i18n="Service-Form.Page-Head.Page-Description.Page-Description"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

            <form>
              <input type=hidden name=provider></input>

              <fieldset>
                <legend data-i18n="Service-Form.Legend"></legend>
                <div class="form-group">
                  <label for="name" class="control-label"><span data-i18n="Service-Form.Service-Name"></span><span class="error"></span></label>
                    <div class="form-group">
                      <input type="text" name="name" data-i18n-field class="form-control" value="{{ update_of.name }}" >
                    </div>
                </div>
                <div class="form-group">
                  <label for="area_of_service" class="control-label"><span data-i18n="Service-Form.Service-Area"></span><span class="error"></span></label>
                    <div class="btn-group"  >
                        <select name=area_of_service class="form-control">
                            {{#each areas_of_services}}
                                <option value="{{ this.url }}">{{ this.name }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                  <label for="type" class="control-label"><span data-i18n="Service-Form.Type"></span><span class="error"></span></label>
                    <div class="btn-group">
                        <select name=type class="form-control">
                            {{#each types}}
                                <option value="{{ this.url }}">{{ this.name }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                  <label for="id_description" class="control-label"><span  data-i18n="Service-Form.Service-Description"><span class="error"></span></label>
                  <div class="form-group">
                    <textarea rows="2" name="description" data-i18n-field class="form-control"  ></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="time_of_service" class="control-label"><span data-i18n="Service-Form.Service-Hours"></span><span class="error"></span></label>
                  {{#each daysofweek}}
                  <div class=row>
                      <div class="third">
                          <div class="form-group">
                            <label for="id_{{toLowerCase this}}_open" class="operating-hours"><span data-i18n="Service-Form.Hours-Open"></span><span class=error></span></label>
                            <input type="time" id="id_{{toLowerCase this}}_open" name="{{toLowerCase this}}_open" class="form-control">
                          </div>
                      </div>
                      <div class="third">
                          <label>&nbsp;</label>
                          <div class="operating-hours-to">{{ this }}
                          </div>
                      </div>
                      <div class="third">
                          <div class="form-group">
                            <label for="id_{{toLowerCase this}}_close" class="operating-hours"><span data-i18n="Service-Form.Hours-Close"></span><span class=error></span></label>
                            <input type="time" id="id_{{toLowerCase this}}_close" name="{{toLowerCase this}}_close" class="form-control">
                          </div>
                      </div>
                  </div>
                  {{/each}}

                </div>
                <div class="form-group row">
                  <label for="id_additional_information" class="control-label" data-i18n="Service-Form.Additional-Information"></label>
                  <div class="form-group">
                    <textarea rows="4" data-i18n-field name="additional_information" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_cost_of_service" class="control-label" data-i18n="Service-Form.Service-Cost"></label>
                    <div class="form-group">
                      <input id="id_cost_of_service" type="text" name="cost_of_service" class="form-control">
                    </div>
                </div>
              </fieldset>
            </form>
            <form>
              <div class="submit-form">
                  <div class="half">
                    <button class="form-btn-submit primary-button" data-i18n="Service-Form.Form-Submit-Options.Submit"></button>
                  </div>
                  <div class="half">
                    <button class="form-btn-clear primary-button" data-i18n="Service-Form.Form-Submit-Options.Clear"></button>
                  </div>
              </div>
            </form>

            </div>
          </div>
        </div>

<!-- End Forms -->

<!-- End Main Content -->
