<h1>{{ service.name }}</h1>

<div>Area: {{ service.servicearea.name }}</div>
<div>Type: {{ service.servicetype.name }}</div>

<div>Description: {{ service.description }}</div>

<div>Monday: {{ service.monday_open }} - {{ service.monday_close }}</div>
<div>Tuesday: {{ service.tuesday_open }} - {{ service.tuesday_close }}</div>
<div>Wednesday: {{ service.wednesday_open }} - {{ service.wednesday_close }}</div>
<div>Thursday: {{ service.thursday_open }} - {{ service.thursday_close }}</div>
<div>Friday: {{ service.friday_open }} - {{ service.friday_close }}</div>
<div>Saturday: {{ service.saturday_open }} - {{ service.saturday_close }}</div>
<div>Sunday: {{ service.sunday_open }} - {{ service.sunday_close }}</div>

<div>Additional Info: {{ service.additional }}</div>
