<!-- Page Head -->
    <div class="page-head">
        <div class="container">
        	<div class="half">
	            <div class="row">
	                <div class="page-title" data-i18n="Service-List.Page-Head.Page-Title.Title"></div>
                    {{#if no_services}}
                        <div class="page-descr" data-i18n="Service-List.Empty-Message"></div>
                    {{else}}
	                   <div class="page-descr" data-i18n="Service-List.Page-Head.Page-Description.Page-Description"></div>
                    {{/if}}
	            </div>
	        </div>
            <div class="half"></div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
{{#unless no_services}}
	<table id="service-status" class="table">
		<thead>
			<tr>
				<th data-i18n="Service-List.Table.Thead.Name"></th>
				<th data-i18n="Service-List.Table.Thead.Type"></th>
				<th data-i18n="Service-List.Table.Thead.Area"></th>
				<th data-i18n="Service-List.Table.Thead.Status"></th>
				<th data-i18n="Service-List.Table.Thead.Remove"></th>
			</tr>
		</thead>
		<tbody>
            {{#each services}}
			<tr class="{{#if this.isApproved }}approved{{/if}}{{#if this.isRejected}}denied{{/if}}">
				<td>

                  <div class="vertical-header" data-i18n="Service-List.Table.Thead.Status"></div><span class="vertical-td {{#if this.parent }}update{{/if}}">
                    {{#if this.can_update }}
                      <a href="#/manage/service/{{ this.id }}">{{ this.name }}</a>
                    {{ else }}
                      {{#if this.isRejected}}
                        {{this.name}}
                      {{else}}
                        <a href="#/service/{{ this.id }}">{{ this.name }}</a>
                      {{/if}}
                    {{/if}}
                  </span>

				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Name"></div><span class="vertical-td">
                    {{# if this.servicetype.icon_url }}<img class="servicetype-icon" src="{{ this.servicetype.icon_url }}"/>{{/if}}
                    {{ this.servicetype.name }}
                    </span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Type"></div><span class="vertical-td">{{ this.servicearea.name }}</span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Area"></div><span class="vertical-td" data-i18n="Service-List.Status.{{ this.status }}">{{ this.status }}</span>
                </td>
				<td>
				    <div class="vertical-header" data-i18n="Service-List.Table.Thead.Remove"></div><span class="vertical-td"><a href="#/manage/service/cancel/{{ this.id }}"><span
				      {{#if this.is_draft }}
      				     data-i18n="Service-Remove-Change.Remove-Change"
                      {{else}}
                        {{#if this.is_current }}
      				      data-i18n="Service-Delete.Delete-Service"
                        {{/if}}
                      {{/if}}
				     ></span></a></span>
				</td>
			</tr>
            {{/each}}
		</tbody>
	</table>
{{/unless}}
<div class="main-content">
    <div class="third float-start">
        <a class="btn primary-button" href="#/manage/service" data-i18n="Service-List.Add-Service"></a>
    </div>
</div>
<!-- End Main Content -->
