<div id="service-detail">

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="name">{{ service.name }}</div>
		<div class="description">{{ service.description }}</div>
		<div id="static-map">
			<div class="map">
				<div class="map-image-ctn">
					<img src="{{ mapURL }}" />
				</div>
			</div>
		</div>
		<div >
			<span class="area control-label" data-i18n="Service-Map.List.Area"></span>
			{{ service.servicearea.name }}
		</div>
		<div >
			<span class="area control-label" data-i18n="Service-Map.List.Type"></span>
			{{ service.servicetype.name }}
		</div>
		<div class="hours">
			<div class="form-group">
				<label class="control-label" data-i18n="Service-Map.List.All-Hours"></label>
				<table>
					<thead>
						<tr>
							<th class="third">Day</th>
							<th class="third" data-i18n="Service-Form.Hours-Open"></th>
							<th class="third" data-i18n="Service-Form.Hours-Close"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="third"><span data-i18n="Global.Sunday"></span></td>
							<td class="third">{{ service.sunday_open }}</td>
							<td class="third">{{ service.sunday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Monday"></span></td>
							<td class="third">{{ service.monday_open }}</td>
							<td class="third">{{ service.monday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Tuesday"></span></td>
							<td class="third">{{ service.tuesday_open }}</td>
							<td class="third">{{ service.tuesday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Wednesday"></span></td>
							<td class="third">{{ service.wednesday_open }}</td>
							<td class="third">{{ service.wednesday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Thursday"></span></td>
							<td class="third">{{ service.thursday_open }}</td>
							<td class="third">{{ service.thursday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Friday"></span></td>
							<td class="third">{{ service.friday_open }}</td>
							<td class="third">{{ service.friday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Saturday"></span></td>
							<td class="third">{{ service.saturday_open }}</td>
							<td class="third">{{ service.saturday_close }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="contact">
			<div class="row">
				<div class="half">
					<span class="control-label" data-i18n="Service-Map.List.Phone"></span>
					{{ service}}
				</div>
				<div class="half">
					<span class="control-label" data-i18n="Service-Map.List.Website"></span>
				</div>
			</div>
		</div>
		<div class="description">
			<div class="row">
				<span class="control-label" data-i18n="Service-Map.List.Additional-Info"></span>
				<p>{{ service.additional }}</p>
			</div>
		</div>
	</div> <!-- End Row -->
</div> <!-- End Container -->

</div>
