<!-- Page Head -->
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="page-title" data-i18n="Service-Form.Page-Head.Page-Title.Title"></div>
                    <div class="page-descr" data-i18n="Service-Form.Page-Head.Page-Description.Page-Description"></div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->

<!-- Forms -->
      <div class="main-content">
        <div class="container">
          <div class="row">
            <form>
              <input type=hidden name=provider></input>
              <input type=hidden name=update_of></input>

              <fieldset>
                <legend data-i18n="Service-Form.Legend"></legend>
                <div class="row">
                  <div class="form-group">
                    <label for="id_name" class="control-label"><span data-i18n="Service-Form.Service-Name"></span><span class="error"></span></label>
                      <div class="form-group">
                        <input id="id_name" type="text" name="name" data-i18n-field class="form-control"  >
                      </div>
                  </div>
                </row>
                <div class="row">
                  <div class="half">
                    <div class="form-group">
                      <label for="id_area_of_service" class="control-label"><span data-i18n="Service-Form.Service-Area"></span><span class="error"></span></label>
                      <div class="btn-group"  >
                          <select id=id_area_of_service name=area_of_service class="form-control">
                              <option value="" data-i18n="Service-Form.Service-Area.Service-Area-Choose"></option>
                              {{#each areas_of_services}}
                                  <option value="{{ this.url }}">{{ this.name }}</option>
                              {{/each}}
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="half">
                    <div class="form-group">
                      <label for="id_type" class="control-label"><span data-i18n="Service-Form.Type"></span><span class="error"></span></label>
                        <div class="btn-group">
                            <select id=id_type name=type class="form-control">
                                <option value="" data-i18n="Service-Form.Service-Area.Type-Choose"></option>
                                {{#each types}}
                                    <option value="{{ this.url }}">{{ this.name }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="id_description" class="control-label"><span  data-i18n="Service-Form.Service-Description"></span><span class="error"></span></label>
                    <div class="form-group">
                      <textarea id=id_description rows="4" name="description" data-i18n-field class="form-control"  ></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label"><span data-i18n="Service-Form.Service-Hours"></span><span class="error"></span></label>
                  {{#each daysofweek}}
                  <div id=service-hours>
                    <div class=row>
                      <div class="third">
                          <label>&nbsp;</label>
                          <div class="operating-hours-to">{{ this }}
                          </div>
                      </div>

                      <div class="third">
                          <div class="form-group">
                            <label for="id_{{toLowerCase this}}_open" class="operating-hours"><span data-i18n="Service-Form.Hours-Open"></span><span class=error></span></label>
                            <input type="time" id="id_{{toLowerCase this}}_open" name="{{toLowerCase this}}_open" class="form-control">
                          </div>
                      </div>

                      <div class="third">
                          <div class="form-group">
                            <label for="id_{{toLowerCase this}}_close" class="operating-hours"><span data-i18n="Service-Form.Hours-Close"></span><span class=error></span></label>
                            <input type="time" id="id_{{toLowerCase this}}_close" name="{{toLowerCase this}}_close" class="form-control">
                          </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}

                </div>
                <div class="form-group row">
                  <label for="id_additional_information" class="control-label" data-i18n="Service-Form.Additional-Information"></label>
                  <div class="form-group">
                    <textarea id="id_additional_information" rows="4" data-i18n-field name="additional_information" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_cost_of_service" class="control-label" data-i18n="Service-Form.Service-Cost"></label>
                    <div class="form-group">
                      <input id="id_cost_of_service" type="text" name="cost_of_service" class="form-control">
                    </div>
                </div>

                <!-- selection criteria -->
                <label for="id_selection_criteria" class="control-label" data-i18n="Service-Form.Selection-Criteria"></label>
                {{#each criteria}}
                  <div class="row criteria">
                      <div class="half">
                        <div class="form-group">
                          <input id="id_selection_criteria.{{@index}}" type="text" name="selection_criteria.{{@index}}" class="form-control" value="{{this.text}}">
                        </div>
                      </div>
                      <div class="half">
                        <div class="form-options">
                          <div class="half">
                            <button class="primary-button remove" data-i18n="Service-Form.Remove-Criterion"></button>
                          </div>
                          <div class="half">
                            {{#if @last}}
                              <button class="primary-button add" data-i18n="Service-Form.Add-Criterion"></button>
                            {{/if}}
                          </div>
                        </div>
                      </div>
                  </div>
                {{/each}}

              </fieldset>
            </form>
            <form>
              <div class="submit-form">
                  <div class="row error error-submission"></div>
                  <div class="half">
                    <button class="form-btn-submit primary-button" data-i18n="Service-Form.Form-Submit-Options.Submit"></button>
                  </div>
                  <div class="half">
                    <button class="form-btn-clear primary-button" data-i18n="Service-Form.Form-Submit-Options.Clear"></button>
                  </div>
              </div>
            </form>

            </div>
          </div>
        </div>

<!-- End Forms -->

<!-- End Main Content -->
