{{!-- <h1>{{ service.name }}</h1>

<div>Area: {{ service.servicearea.name }}</div>
<div>Type: {{ service.servicetype.name }}</div>

<div>Description: {{ service.description }}</div>

<div>Monday: {{ service.monday_open }} - {{ service.monday_close }}</div>
<div>Tuesday: {{ service.tuesday_open }} - {{ service.tuesday_close }}</div>
<div>Wednesday: {{ service.wednesday_open }} - {{ service.wednesday_close }}</div>
<div>Thursday: {{ service.thursday_open }} - {{ service.thursday_close }}</div>
<div>Friday: {{ service.friday_open }} - {{ service.friday_close }}</div>
<div>Saturday: {{ service.saturday_open }} - {{ service.saturday_close }}</div>
<div>Sunday: {{ service.sunday_open }} - {{ service.sunday_close }}</div>

<div>Additional Info: {{ service.additional }}</div> --}}
<!-- Page Head -->

<!-- End Page Head -->

<div id="service-detail">

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="name">{{ service.name }}</div>
		<div id="static-map">
			<div class="map">
				<p>Static map image goes here.</p>
			</div>
		</div>
		<div class="area control-label" data-i18n="Service-Map.List.Area">{{ service.servicearea.name }}</div>
		<div class="area control-label" data-i18n="Service-Map.List.Type">{{ service.servicetype.name }}</div>
		<div class="hours">	
			<div class="form-group">
				<label class="control-label" data-i18n="Service-Map.List.All-Hours"></label>
				<table>
					<thead>
						<tr>
							<th class="third">Day</th>
							<th class="third" data-i18n="Service-Form.Hours-Open"></th>
							<th class="third" data-i18n="Service-Form.Hours-Close"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="third"><span data-i18n="Global.Sunday"></span></td>
							<td class="third">{{ service.sunday_open }}</td>
							<td class="third">{{ service.sunday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Monday"></span></td>
							<td class="third">{{ service.monday_open }}</td>
							<td class="third">{{ service.monday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Tuesday"></span></td>
							<td class="third">{{ service.tuesday_open }}</td>
							<td class="third">{{ service.tuesday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Wednesday"></span></td>
							<td class="third">{{ service.wednesday_open }}</td>
							<td class="third">{{ service.wednesday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Thursday"></span></td>
							<td class="third">{{ service.thursday_open }}</td>
							<td class="third">{{ service.thursday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Friday"></span></td>
							<td class="third">{{ service.friday_open }}</td>
							<td class="third">{{ service.friday_close }}</td>
						</tr>
						<tr>
							<td class="third"><span data-i18n="Global.Saturday"></span></td>
							<td class="third">{{ service.saturday_open }}</td>
							<td class="third">{{ service.saturday_close }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="contact">
			<div class="row">
				<div class="half">
					<span class="control-label" data-i18n="Service-Map.List.Phone"></span>
				</div>
				<div class="half">
					<span class="control-label" data-i18n="Service-Map.List.Website"></span>
				</div>
			</div>
		</div>
		<div class="description">
			<div class="row">	
				<span class="control-label" data-i18n="Service-Map.List.Additional-Info"></span>
				<p>{{ service.additional }}</p>
			</div>
		</div>
	</div> <!-- End Row -->
</div> <!-- End Container -->

</div>