<!-- Page Head -->
    <div class="page-head">
        <div class="container">
        	<div class="half">
	            <div class="row">
	                <div class="page-title" data-i18n="Service-List.Page-Head.Page-Title.Title"></div>
	                <div class="page-descr" data-i18n="Service-List.Page-Head.Page-Description.Page-Description"></div>
	            </div>
	        </div>
            <div class="half"></div>
        </div>
    </div>
<!-- End Page Head -->

<!-- Main Content -->
<div class="row">
	<table id="service-status" class="table">
		<thead>
			<tr>
				<th data-i18n="Service-List.Table.Thead.Name"></th>
				<th data-i18n="Service-List.Table.Thead.Type"></th>
				<th data-i18n="Service-List.Table.Thead.Area"></th>
				<th data-i18n="Service-List.Table.Thead.Status"></th>
				<th data-i18n="Service-List.Table.Thead.Remove"></th>
			</tr>
		</thead>
		<tbody>
            {{#each services}}
			<tr class="{{#if this.isApproved }}approved{{/if}} {{#if this.isRejected}}denied{{/if}}">
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Status"></div><span class="vertical-td">
                        <a href="#/service/{{ this.id }}">{{ this.name }}</a>
                    </span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Name"></div><span class="vertical-td">{{ this.servicetype.name }}</span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Type"></div><span class="vertical-td">{{ this.servicearea.name }}</span>
				</td>
				<td>
					<div class="vertical-header" data-i18n="Service-List.Table.Thead.Area"></div><span class="vertical-td">{{ this.status }}</span>
				</td>
				<td>
				    <div class="vertical-header" data-i18n="Service-List.Table.Thead.Remove"></div><span class="vertical-td"><a href="#/service/cancel/{{ this.id }}"><span
				      {{#if this.is_draft }}
      				     data-i18n="Service-Remove-Change.Remove-Change"
                      {{else}}
      				     data-i18n="Service-Delete.Delete-Service"
                      {{/if}}
				     ></span></a></span>
				</td>
			</tr>
            {{/each}}
		</tbody>
	</table>
</div>
<!-- End Main Content -->
